@model string

@{
    ViewBag.Title = "Home";
}

For creating user with additional admin role register user with name "admin"

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h2>Welcome @HttpContext.Current.User.Identity.Name !</h2>
    <h3>Your email: @Model</h3>
    @Html.ActionLink("Logout", "Logout", "Account")
    @:&nbsp;Or&nbsp;
    @Html.ActionLink("AdminTest: if you are not admin you will be redirected to home page again and will se nothing", "AdminTest", "Home")
    <h3>You have such roles:</h3>
    <ul>
        @if (@HttpContext.Current.User.IsInRole("Admin"))
        {
            <li>Admin</li>
        }

        @if (@HttpContext.Current.User.IsInRole("User"))
        {
            <li>User</li>
        }
    </ul>
}
else
{
    <h2>You are not authenticated.</h2>
    @Html.ActionLink("Register", "Register", "Account") 
    @:&nbsp;Or&nbsp;
    @Html.ActionLink("Login", "Login", "Account")
}